*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* color primario #58c592fd */
/* fuente banner:   font-family: 'Young Serif', serif;*/
/* fuente body:  */

body{
    background-color: rgb(245, 245, 245);
}
/* ----nav bar--- */
.bg-buho{
    background-color: #58c592fd;
}
.navbar-collapse{
    width: 100%;
    justify-content: end;
    align-items: end;
    
}
.navbar-nav{
    align-items: center;
}


/* -----------Banner----------- */

.container-grid .item{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));     */
    grid-auto-rows: auto;
    grid-template-areas: "banner";
   
    
}
.container-grid .item img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;  
    
}
.item img, .item__title{
    grid-area: banner;
    color: #f0e9e9;
   
}
.item .item__title{
    font-family: 'Young Serif', serif;
    font-size: clamp(1.5em, 6vw, 6rem);
    padding-top: clamp(3em, 20vw, 9em);
    padding-left: .5rem; 
}

.container-grid__hr{
    margin-top: 10px;
    border: 5px solid #1fb870fd; 
}


/*-------- Cuerpo Principal------------ -*/

.somos__grid{
    display: grid;
    gap: 1rem;
    width: 95%;
    margin: auto;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 2fr));
   
   
}
.somos__grid .somos__item{
   justify-self: center;
   
}
.somos__item{
    min-height: 70vh;
    min-width: 90%;
    /* align-items: center; */
    padding-top: 30px;
}
.somos__img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 70px;   
}

.somos__grid .somos__item .somos__img{
    justify-self: center;
    max-height: 65%;
    max-width: 50%;
    margin-top: 2rem;
    box-shadow: 10px 10px 17px 4px rgba(0, 0, 0, 0.808);
}
.somos__p{
    text-align: center;
     padding-top: 30px;
     padding-left: 50px;
     padding-right: 50px;
     

}
/*--------- Footer----------- */
.container-footer {
    background-color: #58c592fd;
    height: 70px;
    justify-content: center;
    align-items: center;
   
}
.container-footer a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}




/* -------media queries----------- */
@media screen and (max-width: 550px){
    .somos__grid .somos__item .somos__img{
        max-height: 55%;
        max-width: 70%;
       
    }
    
}