*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* color primario #58c592fd */
/* color fuente #615050 */
/* fuente banner:   font-family: 'Young Serif', serif;*/
/* fuente quienes somos: font-family: 'Roboto', sans-serif; */

body{
    background-color: rgb(245, 245, 245);
}
/* ----nav bar--- */
.bg-buho{
    background-color: #58c592fd;
}
.navbar-collapse{
    width: 100%;
    justify-content: end;
    align-items: end;
    
}
.navbar-nav{
    align-items: center;
}


/* -----------Banner----------- */

.container-grid .item{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));     */
    grid-auto-rows: auto;
    grid-template-areas: "banner";
   
    
}
.container-grid .item img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;  
    
}
.item img, .item__title{
    grid-area: banner;
    color: #f0e9e9;
   
}
.item .item__title{
    font-family: 'Young Serif', serif;
    font-size: clamp(1.5em, 6vw, 6rem);
    padding-top: clamp(3em, 20vw, 9em);
    padding-left: .5rem; 
    
}

.container-grid__hr{
    margin-top: 10px;
    border: 5px solid #1fb870fd; 
}

/* --------------fixed---------- */
.bg__fijo{
    height: 100vh;
    width: 100%;
    background-image: url("../aseets/img/fondorubia.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


/*-------- Cuerpo Principal------------ -*/

.grid__container{
    width: 95%;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.grid__item{
    justify-self: center;
    align-items: center;
    margin: 20px;
    margin-top: 30px;
}
.grid__img{
    height: 347px;
    width: 260px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 11px 10px 7px 0px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: all 0.25 ease;
}
/* .grid__img:hover{
    transform: translateY(-15px); 
    box-shadow: 12px 12px 9px 0px rgba(0,0,0,0.6);
   
} */
.grid__title{
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #615050;
    letter-spacing: 2px;
}

.grid__p{
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #615050;
}
/* ---------------Galeria Grid---------- */

.galeria-grid{
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1rem;
}

.galeria__item{
    /* width: 330px;
    height: 380px;
    margin: auto; */
  
}

.galeria-grid .galeria__item img{
    width: 100%;    
    height: 100%;
    background-size: cover;
    object-fit: cover;
    /* object-fit: fill; */
    overflow: hidden;
    border-radius: 10px;
    
}

.item__viajero{
    font-family: 'Young Serif', serif;
    font-size: clamp(2em, 4vw, 4rem);
    /* padding-top: clamp(3em, 5vw, 9em); */
    padding-left: .5rem; 
    text-align: center;
    color: #615050;
    margin-top: 2rem;
}


/*--------- Footer----------- */
.container-footer {
    background-color: #58c592fd;
    height: 70px;
    justify-content: center;
    align-items: center;  
}
.icons{
    align-items: center;
    font-size: 24px;
}
.bi-whatsapp{
    color: rgb(11, 61, 11);
}
.bi-instagram{
    color: red;
}
.bi-facebook{
    color: rgb(34, 34, 245);
}


.container-footer a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}














/* -------media queries----------- */
@media screen and (max-width: 537px){
    /* padding parrafos etiqueta p en principal */
    .grid__p{
        padding-left: 30px;
        padding-right: 30px;
    }
    .galeria-grid{
        gap: 1rem;
    }
}